.container {
  padding: 24px;
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;

  max-width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.header:hover,
.theme_switcher:hover,
.language_switcher:hover {
  cursor: pointer;
}

.footer {
  text-align: center;
  font-size: 0.75rem;
}

.theme_switcher,
.language_switcher {
  border: none;
  background-color: transparent;
  padding: 0;

  color: var(--text-color-secondary);
  margin-left: 8px;
  outline: 0;
}
.theme_switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language_switcher {
  display: flex;
}
