.counts {
  margin: 12px 0;
  color: var(--text-color-secondary);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_container {
  margin-bottom: 20px;
}

.shuffleButton {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  outline: 0;
}

.shuffleButton:hover {
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .input_container {
    display: flex;
    justify-content: space-between;
  }

  .counts {
    flex: 1;
  }

  .input {
    flex: 2;
  }
}

@media screen and (max-width: 720px) {
  .shuffleButton {
    padding-right: 0;
  }
}
